<!DOCTYPE html>
<html lang="en">
<head>
<title>JavaScript - read JSON from URL</title>
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script   src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="js\vcJava.js"></script>
    
    <style>
        table, th, td 
        {
            margin:10px 0;
            border:solid 1px #333;
            padding: 15px;
            
            font:15px Verdana;
            text-align: left;
        }
        
        th {
            font-weight:bold;
            text-align: left;
        }
    </style>
</head>
<body>
 
<form action=""> 
<input type="button" value="Display Vaccination Card" onclick="showCustomer()"/>
</form>
<br></br>
<div style="overflow-x:auto;" id="showData">Report displayed here</div>

</body>
</html>